<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ashling.riscfree.debug.osawareness.OSInfoProvider">
         <osinfo name="Linux" versions="resources/versions.csv">
      	 </osinfo>	
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.ashling.riscfree.debug.osawareness.linux.category"
            name="%category.label">
      </category>
      <view
            category="com.ashling.riscfree.debug.osawareness.linux.category"
            class="com.ashling.riscfree.debug.osawareness.linux.view.OSAwareLinuxModuleDebugView"
            icon="icons/linux_modules.gif"
            id="com.ashling.riscfree.debug.osawareness.linux.modules"
            name="%view.modules"
            restorable="true">
      </view>
      <view
            category="com.ashling.riscfree.debug.osawareness.linux.category"
            class="com.ashling.riscfree.debug.osawareness.linux.view.OSAwareLinuxProcessDebugView"
            icon="icons/linux_process.gif"
            id="com.ashling.riscfree.debug.osawareness.linux.process"
            name="%view.process"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="com.ashling.riscfree.debug.osawareness.linux.modules"
               ratio="0.6"
               relationship="right"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <view
               id="com.ashling.riscfree.debug.osawareness.linux.process"
               relationship="stack"
               relative="org.eclipse.buildship.ui.views.taskview"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
 	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
             locationURI="menu:org.eclipse.ui.main.menu?after=window">
         <menu
               id="com.ashling.riscfree.debug.osawareness.linux.ui.linux"
               label="%menu.label">
            <menu
               id="com.ashling.riscfree.debug.osawareness.linux.ui.Modules"
               label="%menu.label.0">
	            <command
	                  commandId="com.ashling.riscfree.debug.osawareness.linux.ui.commands.loadmod"
	                  label="%command.label.0"
	                  style="push">
	            </command>
	            <command
	                  commandId="com.ashling.riscfree.debug.osawareness.linux.ui.commands.initmod"
	                  label="%command.label.1"
	                  style="push">
	            </command>
            </menu>
            <menu
               id="com.ashling.riscfree.debug.osawareness.linux.ui.process"
               label="%menu.label.1">
	            <command
	                  commandId="com.ashling.riscfree.debug.osawareness.linux.ui.commands.process"
	                  label="%command.label.4"
	                  style="push">
	            </command>
	              <command
	                  commandId="com.ashling.riscfree.debug.osawareness.linux.ui.commands.processmain"
	                  label="%command.label.3"
	                  style="push">
	            </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.ashling.riscfree.debug.osawareness.linux.ui.commands.ListModulesHandler"
            id="com.ashling.riscfree.debug.osawareness.linux.ui.commands.loadmod"
            name="%command.label.0">
      </command>
      <command
            defaultHandler="com.ashling.riscfree.debug.osawareness.linux.ui.commands.ListProcessHandler"
            id="com.ashling.riscfree.debug.osawareness.linux.ui.commands.process"
            name="%command.label.4">
      </command>
      <command
            defaultHandler="com.ashling.riscfree.debug.osawareness.linux.ui.commands.DebugModuleFromInitHandler"
            id="com.ashling.riscfree.debug.osawareness.linux.ui.commands.initmod"
            name="%command.label.1">
      </command>
      <command
            defaultHandler="com.ashling.riscfree.debug.osawareness.linux.ui.commands.DebugProcessFromMainHandler"
            id="com.ashling.riscfree.debug.osawareness.linux.ui.commands.processmain"
            name="%command.label.3">
      </command>
   </extension>
</plugin>
