<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2020 ArSysOp and others

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License 2.0 which is available at
	https://www.eclipse.org/legal/epl-2.0/.

	SPDX-License-Identifier: EPL-2.0

	Contributors:
		Alexander Fedorov (ArSysOp) - initial API and implementation
-->
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="CORE-V™-SDK">
            <property
               name="aboutImage"
               value="images\ohw_lg.png">
         </property>
         <property
         		name="introBrandingImage" 
         		value="product:images/ohw64.png">
         </property>
         <property
               name="appName"
               value="OpenHW CORE-V™-SDK">
         </property>
         <property
               name="startupForegroundColor"
               value="c1bc1f"/>
         <property
               name="startupMessageRect"
               value="7,265,320,20"/>
         <property
               name="startupProgressRect"
               value="2,290,448,10"/>
         <property
               name="aboutText"
               value="CORE-V™-SDK &#x0A;v0.0.0.3 05-Aug-2022 &#x0A;&#x0A;Developed by Ashling (https://www.ashling.com/ ), Embecosm (https://www.embecosm.com/ ) and the OpenHW™ group (https://www.openhwgroup.org/ ) including contributions from ArSysOp and others...&#x0A;&#x0A;CORE-V™-SDK would not be possible without the following fantastic open-source software. Hat tip to all:&#x0A;-	Embecosm CORE-V GCC Toolchain :&#x0A;https://www.embecosm.com/resources/tool-chain-downloads/#corev&#x0A;-	Eclipse including Eclipse CDT: &#x0A;https://www.eclipse.org/eclipse and https://projects.eclipse.org/projects/tools.cdt&#x0A;- Eclipse Embedded CDT:&#x0A;https://eclipse-embed-cdt.github.io/ &#x0A;-	OpenJDK and Eclipse OpenJ9:&#x0A;https://openjdk.java.net/ &#x0A;-	RISC-V QEMU:&#x0A;https://www.qemu.org/">
         </property>
         <property
               name="windowImages"
               value="images/ohw16.png,images/ohw32.png,images/ohw48.png,images/ohw64.png,images/ohw128.png">
         </property>
      </product>
   </extension>

</plugin>
