<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2021 ArSysOp and others

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License 2.0 which is available at
	https://www.eclipse.org/legal/epl-2.0/.

	SPDX-License-Identifier: EPL-2.0

	Contributors:
		Nikifor Fedorov (ArSysOp) - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.openhwgroup.corev.ide.definition.category"
            name="%category.title">
      </category>
      <primaryWizard
            id="org.openhwgroup.corev.ide.definition.ui.projectWizard">
      </primaryWizard>
      <wizard
            category="org.openhwgroup.corev.ide.definition.category"
            class="org.openhwgroup.corev.ide.definition.ui.project.ProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="platform:/plugin/org.openhwgroup.corev.ide/images/ohw16.png"
            id="org.openhwgroup.corev.ide.definition.ui.projectWizard"
            name="%wizard.project.title"
            project="true">
      </wizard>
      <wizard
            category="org.openhwgroup.corev.ide.definition.category"
            class="org.openhwgroup.corev.ide.definition.ui.meta.DefineBoardWizard"
            icon="platform:/plugin/org.openhwgroup.corev.ide/images/ohw16.png"
            id="org.openhwgroup.corev.ide.definition.ui.board.wizard"
            name="%wizard.board.title"
            project="false">
      </wizard>
      <wizard
            category="org.openhwgroup.corev.ide.definition.category"
            class="org.openhwgroup.corev.ide.definition.ui.meta.DefineToolchainWizard"
            icon="platform:/plugin/org.openhwgroup.corev.ide/images/ohw16.png"
            id="org.openhwgroup.corev.ide.definition.ui.toolchain"
            name="%wizard.toolchain.title">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.openhwgroup.corev.ide.definition.ui.samples.importWizards.sampleCategory"
            name="%category.name">
      </category>
      <wizard
            id="org.openhwgroup.corev.ide.wizard.ImportWizard"
            name="%wizard.name"
            class="org.openhwgroup.corev.ide.wizard.ImportWizard"
            category="org.openhwgroup.corev.ide.definition.ui.samples.importWizards.sampleCategory"
            icon="icons/ohw16.png">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>
   
</plugin>
