<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<!--
	Copyright (c) 2020, 2022 ArSysOp, Ashling and others

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License 2.0 which is available at
	https://www.eclipse.org/legal/epl-2.0/.

	SPDX-License-Identifier: EPL-2.0

	Contributors:
		Alexander Fedorov (ArSysOp) - initial API and implementation
		Promodkumar (Ashling) - updates
-->
<target name="org.openhwgroup.corev.ide.target" sequenceNumber="9">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/cbi/updates/license/"/>
			<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/passage/updates/release/2.3.0/lic/"/>
			<unit id="org.eclipse.passage.lic.execute.feature.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
		<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.2100.v20230415-0944"/>
		<unit id="org.eclipse.sdk.feature.group" version="4.28.0.v20230605-0440"/>
		<repository location="https://download.eclipse.org/eclipse/updates/4.28/R-4.28-202306050440/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/embed-cdt/releases/6.4.0/p2/"/>
			<unit id="org.eclipse.embedcdt.codered.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.embedcdt.debug.gdbjtag.openocd.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.embedcdt.debug.gdbjtag.qemu.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.embedcdt.doc.user.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.embedcdt.managedbuild.cross.arm.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.embedcdt.managedbuild.cross.riscv.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.embedcdt.packs.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.embedcdt.templates.cortexm.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.embedcdt.templates.sifive.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.34.0/"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/cdt/releases/11.2"/>
			<unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.tm.terminal.connector.cdtserial.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.tm.terminal.connector.ssh.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.tm.terminal.control.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.tm.terminal.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.tm.terminal.view.feature.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230531010532/repository"/>
			<unit id="org.apache.commons.compress" version="0.0.0"/>
			<unit id="com.google.gson" version="0.0.0"/>
			<unit id="com.google.guava" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/latest"/>
			<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://eclipse.py4j.org/"/>
			<unit id="org.py4j.feature.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.ease.engine.jython.feature.feature.group" version="0.0.0"/>
			<repository id="ease-engines" location="https://eclipse-ease-addons.github.io/org.eclipse.ease.engines.p2/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://eclipse-ease-addons.github.io/org.eclipse.ease.engines.p2/latest/"/>
			<unit id="org.eclipse.ease.engine.jython.feature.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/ease/release/0.8.0/"/>
		<unit id="org.eclipse.ease.feature.feature.group" version="0.8.0.I202105061131"/>
		<unit id="org.eclipse.ease.lang.python.feature.feature.group" version="0.8.0.I202104091425"/>
		<unit id="org.eclipse.ease.python.jython.feature.feature.group" version="0.8.0.I202104061519"/>
		<unit id="org.eclipse.ease.lang.python.py4j.feature.feature.group" version="0.8.0.I202104091518"/>
		<unit id="org.eclipse.ease.ui.feature.feature.group" version="0.8.0.I202105111204"/>
	</location>
	</locations>
</target>